#parent {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.child {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius:10px;
    align-items: center;
    text-align: center;
    border: black solid 2px;
}